@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
	--text: hsl(300, 43%, 22%);
	--text-accent: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: "League Spartan", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--text);
}

p {
	line-height: 1.5em;
}

main {
	background-image: url("images/bg-pattern-top-desktop.svg"),
		url("images/bg-pattern-bottom-desktop.svg");
	background-repeat: no-repeat;
	background-position: top left, bottom right;

	display: grid;
	place-items: center;
}

.container {
	max-width: 80%;
}

.intro {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 8rem 0 4rem;
}

.description,
.ratings {
	flex-basis: 50%;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.description h1 {
	font-size: 3rem;
	font-weight: 700;
	width: 20rem;
}

.description p {
	width: 25rem;
	color: var(--dark-grayish-magenta);
}

.ratings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.rating {
	display: flex;
	align-items: center;
	gap: 25px;

	background: var(--light-grayish-magenta);

	border-radius: 0.5rem;
	width: 100%;
	padding: 1rem 2rem;
	max-width: 25rem;
}

.rating--start {
	align-self: flex-start;
}

.rating--middle {
	align-self: center;
}

.rating--end {
	align-self: flex-end;
}

.rating__detail {
	font-weight: 700;
}

.comments {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	min-height: 18rem;
	margin-bottom: 6rem;
}

.comment {
	background: var(--text);
	color: var(--white);

	border-radius: 0.5rem;
	padding: 2rem;
	/* height: 100%; */
	max-height: 15rem;
}

.comment__header {
	display: flex;
	align-items: center;
	gap: 2rem;

	margin-bottom: 1.5rem;
}

.comment__header img {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.comment__header .name h2 {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.comment__header .name span {
	font-weight: 500;
	color: var(--text-accent);
}

.comment__details {
	font-weight: 500;
}

.comment--start {
	align-self: start;
}

.comment--middle {
	align-self: center;
}

.comment--end {
	align-self: end;
}

@media screen and (max-width: 800px) {
	.intro {
		flex-direction: column;
	}
	.comments {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

@media screen and (max-width: 500px) {
	main {
		background-image: url("images/bg-pattern-top-mobile.svg"),
			url("images/bg-pattern-bottom-mobile.svg");
	}

    .intro {
        gap: 2rem;
        padding-bottom: 3rem;
    }

    .description {
        align-items: center;
        text-align: center;
    }

    .description p {
        width: auto;
    }

    .rating {
        flex-direction: column;
        gap: 1rem;
    }

    .comment {
        height: 100%;
        max-height: none;
    }
}
